<div class="my-banner">
  <h1 class="name">
    Karl Loomes
  </h1>
  <div class="button-container">
    <button class="my-button">
      <%= link_to "Portfolio", websites_path %>
    </button>
    <button class="my-button">
      About
    </button>
    <button class="my-button">
      Contact
    </button>
  </div>
  <div class="my-avatar">

  </div>
</div>
<div class="favourite-container">
  <div class="laptop-image">
    Laptop
  </div>
  <div class="mobile-image">
    Mobile
  </div>
</div>
<div class="about-me">

</div>
<div class="contact-bar">

</div>
