<div class="my-banner">
  <h1 class="name">
    Karl Loomes
  </h1>
  <div class="button-container">
    <%= link_to "Portfolio", websites_path, class: "my-button" %>
    <a class="my-button" href="#about">
      About
    </a>
    <a class="my-button" href="#contact">
      Contact
    </a>
  </div>
  <div class="my-avatar">

  </div>
</div>
<div class="favourite-container">
  <div class="laptop-image">
    Laptop
  </div>
  <div class="mobile-image">
    Mobile
  </div>
</div>
<div class="about-me" id="about">
  <h3>About</h3>
  <p>My name is Karl and I am a full stack web developer.</p>
</div>
<div class="contact-bar" id="contact">
  <a href="https://www.linkedin.com/in/karl-loomes" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/kloomes" target="_blank">
    <i class="fab fa-github-square"></i>
  </a>
</div>
