.button-container {
  position: absolute;
  width: 100%;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

.my-button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 5px solid white;
  padding: 0 20px;
  margin: 0 5px;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  a {
    color: white;
  }
}

.my-button:hover {
  background-color: white;
  color: black;
  border: 5px solid black;
  a {
    color: black;
  }
}
